<?xml version="1.0" encoding="utf-8" ?>
<package>
  <pack id="Base">
    <title>Revival SP Modification</title>
    <version>2.0</version>
    <author>Maeyan, Malachor and The Revival Team</author>
    <website>http://www.hellgateaus.net</website>
    <notes>The base package for Revival SP modification</notes>
    <type>required</type>
  </pack>
  <pack id="Retrainers">
    <title>Purchaseable Retrainers</title>
    <version>2.0</version>
    <author>Maeyan, Malachor and The Revival Team</author>
    <website>http://www.hellgateaus.net</website>
    <notes>You can purchase retrainers for 100,000 palladium</notes>
    <type>optional</type>
  </pack>
  <pack id="AutoPickupConsumables">
    <title>AutoPickup Consumables</title>
    <version>2.0</version>
    <author>Maeyan, Malachor and The Revival Team</author>
    <website>http://www.hellgateaus.net</website>
    <notes>Automatically pick up all consumables</notes>
    <type>optional</type>
  </pack>
  <pack id="AutoPickupQuestItems">
    <title>AutoPickup Quest Items</title>
    <version>2.0</version>
    <author>Maeyan, Malachor and The Revival Team</author>
    <website>http://www.hellgateaus.net</website>
    <notes>Automatically pick up all quest items</notes>
    <type>optional</type>
  </pack>
  <pack id="ExpandedStorage">
    <title>Expanded storage</title>
    <version>2.0</version>
    <author>Malachor</author>
    <website>http://www.hellgateaus.net</website>
    <notes>Expands storage by adding 3 tabbed pages to both inventory and stash</notes>
    <type>optional</type>
  </pack>
</package>
