<?xml version="1.0" encoding="utf-8" ?>
<package>
  <pack id="SniperAccuracy12">
    <title>Improved Sniper Rifle Accuracy 12</title>
    <version>2.0</version>
    <author>Malachor</author>
    <website>http://www.hellgateaus.net</website>
    <notes>Improves sniper rifle accuracy by 12 percent</notes>
    <type>optional</type>
  </pack>
  <pack id="SniperAccuracy25">
    <title>Improved Sniper Rifle Accuracy 25</title>
    <version>2.0</version>
    <author>Malachor</author>
    <website>http://www.hellgateaus.net</website>
    <notes>Improves sniper rifle accuracy by 25 percent</notes>
    <type>optional</type>
  </pack>
  <pack id="SniperAccuracy50">
    <title>Improved Sniper Rifle Accuracy</title>
    <version>2.0</version>
    <author>Malachor</author>
    <website>http://www.hellgateaus.net</website>
    <notes>Improves sniper rifle accuracy by 50 percent</notes>
    <type>optional</type>
  </pack>
  <pack id="SniperFireRate34">
    <title>Improved Sniper Rifle Fire Rate 34</title>
    <version>2.0</version>
    <author>Malachor</author>
    <website>http://www.hellgateaus.net</website>
    <notes>Changes the sniper rifle rate of fire to 34</notes>
    <type>optional</type>
  </pack>
  <pack id="SniperFireRate38">
    <title>Improved Sniper Rifle Fire Rate 38</title>
    <version>2.0</version>
    <author>Malachor</author>
    <website>http://www.hellgateaus.net</website>
    <notes>Changes the sniper rifle rate of fire to 38</notes>
    <type>optional</type>
  </pack>
  <pack id="SniperFireRate46">
    <title>Improved Sniper Rifle Fire Rate 46</title>
    <version>2.0</version>
    <author>Malachor</author>
    <website>http://www.hellgateaus.net</website>
    <notes>Changes the sniper rifle rate of fire to 46</notes>
    <type>optional</type>
  </pack>
</package>
